div{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
img{
    border: 30px  greenyellow solid ;
}
.dogone{
    border: 30px dashed greenyellow;
}
.dogtwo{
    border: 30px double greenyellow;
}
.dogthree{
    border: 30px hidden greenyellow;
}